@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
a , ul{
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;;
}
section>h1{
    font-family: 'Bungee', cursive;;
    font-size: 4rem;
    text-align: center;
    display: block;
    
}
section>h1::first-letter{
    font-size: 5rem;
    color: rgb(245, 245, 245);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #2d3e52,#2d3e52e3 );
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;

}
/* #B40001 39% ,#089000 56%, #1167b1 73%,#ECBD00 91% */

.strength {
    
    background-image: linear-gradient(to left, #FF0101, #D60000, #B40001);
}
.weakness {
    background-image: linear-gradient(to right, #0EFF00, #1FC600, #089000);
}
.opportunities{
    background-image: linear-gradient(to left, #2a9df4, #187bcd, #1167b1);
}
.threats{
    background-image: linear-gradient(to bottom, #FFDF00, #FFCC00, #ECBD00);
    
}
nav ul {
    display: flex;
    
}
nav>a {
    padding: 2rem 3rem;
    font-size: 2rem;
    
}
nav ul li{
    width: 88%;
    padding: 1.7rem 2rem;
    
}
nav ul li a{
    
    font-size: 1.7rem;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.3rem;
}
.letras-nav {
    display: none;
}
.mobile-menu {
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 3.2rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.8rem;
}

.container {
    display: flex;
    
}


.conteudo {
    background-color: rgba(56, 54, 54, 0.349);
    width: 80rem;
    height: 38rem;
    margin: 1rem 1rem;
    border-radius: 3.5rem 1.1rem 3.5rem 1.1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.597) , inset 2px 2px 2px rgba(0, 0, 0, 0.597);
    
}
.section1 {
    height: 100vh;
    width: 100%;
}
.section2, .section3, .section4, .section5 {
    height: 100vh;
    width: 100%;
    
}
.section2 {
    background-image: linear-gradient(to bottom, #FF0101, #D60000, #B40001);
}
.section3 {
    background-image: linear-gradient(to bottom, #0EFF00, #1FC600, #089000);
}
.section4 {
    background-image: linear-gradient(to bottom, #2a9df4, #187bcd, #1167b1);
}
.section5 {
    background-image: linear-gradient(to bottom, #FFDF00, #FFCC00, #ECBD00);
}
.swot_img{
    background-image: url(../img/swot-img.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#strength, #weakness, #threats, #opportunities{
    height: 3vh;
    width: 100%;
    margin-bottom:1rem ;
}
.c1, .c2, .c3, .c4{
    width: 80%;
    position: absolute;
    
}
.c1, .c2, .c3, .c4  {
    
    color: white;
    font-size: 1.7rem;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.conteudo>h1{
    color: white;
    padding: 10px 15px 0px 15px;
    font-size: 3.5rem;
    text-align: center;
}
.conteudo>.titulo-grande{
    font-size: 2.5rem;
    font-weight: bolder;
}




